{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Instrutor</th>
                    <th>Atendimento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mayk</td>
                    <td>Natação</td>
                </tr>

                <tr>
                    <td>Mayk</td>
                    <td>Natação</td>
                </tr>

                <tr>
                    <td>Mayk</td>
                    <td>Natação</td>
                </tr>

                <tr>
                    <td>Mayk</td>
                    <td>Natação</td>
                </tr>

            </tbody>
        </table>
    </div>
{% endblock content %}